{{define "yield"}}
{{$title := "Title"}}
<title>{{$title}}</title>
<section id="sec-place">
  <div class="padded">
    <hgroup>
      <h2>{{$title}}</h2>
      <h3>This is where I describe the blog post.</h3>
    </hgroup>
    <p>
      Hello, this is a blog post.
    </p>
  </div>
</section>
{{end}}
