{{define "yield"}}
<h1>Archive</h1>
{{range $y, $x := .}}
  {{if eq ($x.IsYear) true}}
  <h2>20{{$x.Title}}</h2>
  {{else}}
  <a href="{{$x.BlogDir}}/{{$x.FileName}}">{{$x.Title}}</a>
  <br/>
  {{end}}
{{end}}
{{end}}
